name: ML CI/CD Pipeline
on:
  push:
    branches: [ "main" ]
jobs:
  train-test-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - run: pip install -r requirements.txt
    - run: python src/train.py
    - run: python src/evaluate.py
    - run: pytest tests/
    - run: docker build -t mlops-cicd-demo .
